<div style="text-align: center; margin: 10px 0; border-top: 1px solid #eee; padding-top: 15px;">
  <p style="font-weight: bold; margin-bottom: 10px;">Equipo:</p>
  
  <div style="margin-bottom: 20px;">
    <a href="https://github.com/juaco-21">
      <img src="{{ site.baseurl }}/figures/members-faces/joaquin.jpg" alt="Joaquin Ortuzar" style="width: 80px; height: 80px; border-radius: 50%; object-fit: cover; display: block; margin: 0 auto 5px auto;">
    </a>
    <a href="https://github.com/juaco-21" style="font-weight: bold; display: block;">Joaquin Ortuzar</a>
    <span style="font-size: 0.85em; color: #666;">Rol del Equipo</span>
  </div>
  
  </div>

<hr>
