---
---


@import "just-the-docs";

.main-content-wrap {
  max-width: 95% !important; 
}

.main-content {
  max-width: 100% !important; 
}

.page-header, .page-content {
  padding-left: 0.5rem; 
  padding-right: 0.5rem;
}